<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nl.yurly_jewellery.yurlyshoppingapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="nl.yurly_jewellery.yurlyshoppingapp.OpenScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="nl.yurly_jewellery.yurlyshoppingapp.NewUser"
            android:screenOrientation="portrait" />

        <activity
            android:name="nl.yurly_jewellery.yurlyshoppingapp.MainAppPage"
            android:label="@string/title_activity_main_app_page"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="nl.yurly_jewellery.yurlyshoppingapp.IndividualProduct"
            android:label="@string/title_activity_individual_product"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name="nl.yurly_jewellery.yurlyshoppingapp.ShoppingCartWindow" />
        <activity android:name="nl.yurly_jewellery.yurlyshoppingapp.CheckOutScreen" />
        <activity android:name="nl.yurly_jewellery.yurlyshoppingapp.ForgotPassword" />
        <activity android:name="nl.yurly_jewellery.yurlyshoppingapp.IndividualProductSeller" />
        <activity android:name="nl.yurly_jewellery.yurlyshoppingapp.AddProductForm"></activity>
    </application>

</manifest>